@{
    ViewData["Title"] = "eSales - Sistema de Gestão Empresarial";
}
<div class="row">
    <div class="col-md-6">
        <h1>Sistema de Gestão Empresarial</h1>
        <p>Controle financeiro, vendas, prestação de serviços, boletos bancários, notas fiscais eletrônicas, NFC-e e muito mais!
            ERP online fácil e intuitivo.</p>
    </div>
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <input id="txtNome" type="text" placeholder="Nome" class="form-control input-contato "/>
            </div>
            <div class="form-group">
                <input id="txtTelefone" type="text" placeholder="DDD + Telefone" class="form-control input-contato"/>
            </div>
            <div class="form-group">
                <input id="txtEmail" type="text" placeholder="Seu melhor e-mail" class="form-control input-contato "/>
            </div>
            <div class="form-group">
                <input type="submit" value="Teste Grátis" class="btn btn-success btn-block input-contato"  />
                
            </div>
        </form>
    </div>
</div>